[Unit]
Description=Run script after first user login
After=graphical.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/EzPass.sh
RemainAfterExit=true

[Install]
WantedBy=graphical.target
