[Unit]
Description=Run script after first user login
After=multi-user.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/EzPass.sh
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
